setuptools<70.0.0
face_recognition_models
face_recognition

paddleocr
paddlepaddle
google-genai
pypinyin
json_repair
pandas
numpy<2.0.0
tqdm
Pillow
scikit-learn
jupyter
opencv-python-headless==4.10.0.84
